html {
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
  font-style: normal;
  font-weight: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
}

article {
}

article header {
}

body {
  font-family: "Crimson Text", serif;
  color: #222;
  line-height: 1.3rem;
  margin: 0;
}

article h1 {
  font-size: 1.5rem;
  font-weight: normal;
}

article header p {
  font-size: 1.125rem;
  font-style: italic;
  color: #555;
}

article p {
  line-height: 1.3rem;
  font-size: 1rem;
  font-style: normal;
}

blockquote {
  font-size: 1.125rem;
  color: #999;
  line-height: 1.3rem;
}

.quote {
  font-size: 1.125rem;
  color: #999;
}

article ol {
  font-size: 1.125rem;
  list-style: decimal;
  line-height: 1.3rem;
  padding: 1em;
}
