html {
  box-sizing: border-box;
  line-height: 1.3;
  font-family: "Crimson Text", serif;
  padding: 1rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

article {
  font-size: 1.125rem;
}

article header {
  font-size: 1.125rem;
}

body {
  font-size: 1.125rem;
  color: #222;
  margin: 1em 1em 1.3rem;
}

article h1 {
  font-size: 1.5rem;
  font-style: normal;
}

article header p {
  font-style: italic;
}

article p {
  font-style: normal;
}

blockquote {
  color: #999;
}

.quote {
  color: #999;
}

article ol {
  list-style: decimal;
}
